{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
	<div class="container">
		<div class="columns">
			<div class="column is-12"> 
				<h1 class="title"> Follows - {{ user.username }}</h1>

				<p> Num: {{ user.postitprofile.follows.count }}</p>
			</div>
		</div>
		<div class="class">
			<div class="column is-8">
				{% for poster in user.postitprofile.follows.all %}
					<p> <a href = "{% url 'postitprofile' poster.user.username %}"> {{ poster.user.username }} </a></p>
				{% empty %}
					{% if request.user == user %}
						<p> you do not follow anyone. </p>
					{% else %}
						<p> {{ user.username }} does not follow anyone.</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}